   <div class="itemBodyMenu">
    <center>
        <br>
        <h3>Menu</h3>
        <br>
        <img  src={{path}} class="photoCompt">
        <br>
        <br>
    {{nom}} {{prenom}}
        <br>
        <br>
        <div  onclick="HideMenu('/materiel')" class="btnMenuContainer">
            <div>Materiel</div>
            <div></div>
        </div>
        <div onclick="HideMenu('/client')" class="btnMenuContainer">
            <div>Client</div>
            <div></div>
        </div>
        <div onclick="HideMenu('/emprunt')" class="btnMenuContainer">
            <div>Emprunt</div>
            <div></div>
        </div>
        <div onclick="HideMenu('/Degat')" class="btnMenuContainer">
            <div>Degat</div>
            <div></div>
        </div>
        <div onclick="HideMenu('/compt')" class="btnMenuContainer">
            <div>Votre Compte</div>
            <div></div>
        </div>

        <div onclick="Quitter()" class="btnMenuContainer">
            <div>Quitter</div>
            <div></div>
        </div>

       </center>
   </div>
  